Flask
Flask-RESTful
flask-sqlalchemy
flask_cors
flask_bcrypt
flask_jwt_extended
itsdangerous
Jinja2
MarkupSafe
numpy
Pandas
python-dateutil
python-telegram-bot
pytz
pymsql
requests
sqlalchemy

